/* Styling for the dropdown menu items */
.dropdown-menu > li > a {
    color: black; /* Change this to your desired text color */
    background-color: white; /* Change this to your desired background color */
}

/* Styling for the selected item in the dropdown menu */
.dropdown-menu > li.active > a {
    color: white; /* Text color for the selected item */
    background-color: blue; /* Background color for the selected item */
}
