<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ConnX AAP Blasting Server</title>

    <!-- Bootstrap and other dependencies -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Your custom CSS -->
    <link
      href="https://fonts.googleapis.com/css?family=Encode+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
  </head>
  <body>
    <nav id="aap-blasting-server" class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            id="toogle-button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a id="logo" class="navbar-brand" href="/"
            >ConnX AAP Blasting Server</a
          >
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul id="link" class="nav navbar-nav navbar-right">
            <li>
              <span id="selected-option" class="navbar-text"></span>
            </li>
            <li class="dropdown" id="first-link">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a id="blue-option" href="#">Blue</a></li>
                <li><a id="red-option" href="#">Red</a></li>
                <li><a id="rma-option" href="#">RMA</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block main %} {% endblock %}
  </body>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</html>
