{% extends 'base.html' %}
{% block main %}
<head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--Buttons-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
</head>
<style>
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: 1px solid black;
}

</style>

<div class="container">
    <h2 class="h2">Blasting Server Configuration</h2>&emsp;
    <input id="switch-onColor" type="checkbox" data-on-color="danger" data-on-text="Red" data-off-text="Red" checked>&ensp;
    <input id="switch-onColor" type="checkbox" data-on-color="info" data-on-text="Blue" data-off-text="Blue" checked>&ensp;
    <input id="switch-onColor" type="checkbox" data-on-color="success" data-on-text="RMA" data-off-text="RMA" checked>
</div>
<div style="border-top: none;" class="container">
    <br/>
    <h2 class="h2">Blasting Server Reports</h2>&ensp;&emsp;
    <h2 class="h2"><a href="/reports">Show finished blasting reports</a></h2>
</div>

</main>

{% endblock %}